<link rel="stylesheet" href="/stylesheets/style.css">
<!-- Contact-->
     <section class="contact-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i style="color: #10bce2;" class="fas fa-map-marked-alt mb-2"></i>
                  <h4 class="text-uppercase m-0">Address</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50"><a style="color: #10bce2; text-decoration: none;" href="http://maps.google.com/?q=23-B Sector C,Indrapuri,Bhopal,Madhya Pradesh 462021">23-B Sector C, Indrapuri, Bhopal, Madhya Pradesh 462021</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i style="color: #10bce2;" class="fas fa-envelope mb-2"></i>
                  <h4 class="text-uppercase m-0">Email</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50"><a style="color: #10bce2; text-decoration: none;"
                      href="mailto: codeato.community@gmail.com">codeato.community@gmail.com</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="card py-4 h-100">
                <div class="card-body text-center">
                  <i style="color: #10bce2;" class="fas fa-mobile-alt mb-2"></i>
                  <h4 class="text-uppercase m-0">Phone</h4>
                  <hr class="my-4" />
                  <div class="small text-black-50 "><a style="color: #10bce2; text-decoration: none;" href="tel:+916352289596">+91 (635) 228-9596</a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </section>

      <!-- Footer-->
      <footer class="footer small text-center">
        <div class="container">Copyright © Codeato 2020</div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>