<%- include('../partials/navigation.ejs')%>

<br> <br>

<link rel="stylesheet" href="/stylesheets/sign.css">

<div class="sign-width">
  <h3 class="text-center theme-color-dark font-weight-bold">Forgot Password</h3>
  <br>
  <form class="container w-75" action="/sendmail" method="POST">
    <div class="form-group">
      <input type="email" class="form-control" name="email" id="exampleInputUsername" aria-describedby="usernameHelp"
        placeholder="Enter email id">
    </div>
    <Button type="submit" class="px20 btn btn-block theme-bgcolor text-dark font-weight-bold" data-toggle="modal"
      data-target="#modalRegisterForm">Send Email</Button>
  </form>
  <br>
</div>

<br><br>

<%- include('../partials/footer.ejs')%>